<div class="container">
  <h1>GitHub Profiles</h1>

  <% @github_profiles.each do |github_profile| %>
    <div class="profile">
      <h2><%= link_to github_profile.name, github_profile_path(github_profile) %></h2>
      <p><strong>Name:</strong> <%= github_profile.nick %></p>
      <p><strong>Followers:</strong> <%= github_profile.followers_count %></p>
      <p><strong>Following:</strong> <%= github_profile.following_count %></p>
      <p><img src="<%= github_profile.image_url %>"></p>
      <p><strong>Contributions:</strong> <%= github_profile.contributions_count %></p>
    </div>
    <hr>
  <% end %>
</div>
