<div class="container">
  <div class="row">
    <div class="profile">
      <h2><%= @github_profile.name %></h2>
      <p><strong>Name:</strong> <%= @github_profile.nick %></p>
      <p><strong>Followers:</strong> <%= @github_profile.followers_count %></p>
      <p><strong>Following:</strong> <%= @github_profile.following_count %></p>
      <p><img src="<%= @github_profile.image_url %>"></p>
      <p><strong>Contributions:</strong> <%= @github_profile.contributions_count %></p>
    </div>
  </div>
</div>